* {
    font-family: "Poppins", sans-serif;

}

:root {
    --blue-color: #45b2ce;
    --dark-blue-color: #283a5a;
    --gray-color: #5e5e5e;
    --dark-light-blue-color: #37517e;
}

#navbar {
    background-color: var(--dark-blue-color);
    color: white;
}

.nav-link {
    color: white;
}

.nav-link:hover {
    color: var(--blue-color);
}

.nav-link.on {
    color: var(--blue-color);
}

.nav-item.login {
    cursor: pointer;
    border: 2px solid var(--blue-color);
    padding: 0px 10px;
    border-radius: 30px;
    transition: 0.5s;
}

.nav-item.login:hover {
    background-color: var(--blue-color);
}

.nav-item.login:hover .nav-link {
    color: white;
}


#footer .heading-sub {
    color: var(--dark-blue-color);
}

#footer {
    color: var(--gray-color);
}

#footer h3 {
    font-size: 1.4em;
}

#footer h4 {
    font-size: 1.2em;
}

.footer-links ul {
    padding-left: 0;
}

.footer-links>ul>li {
    list-style: none;
    color: var(--blue-color);
}

.footer-links>ul>li>a {
    text-decoration: none;
    color: var(--gray-color);

}

.footer-links>ul>li:hover a {
    color: var(--blue-color);
}

.footer-top {
    padding: 50px 0px;
}

.social-links a {
    font-size: 18px;
    display: inline-block;
    background: var(--blue-color);
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
    margin-right: 10px;
}

.social-links a:hover {
    background: #296e80;
    color: #fff;
}

.footer-bottom {
    background-color: var(--dark-blue-color);
    color: white;
}

#hero {
    padding: 150px 0px;
    background-color: var(--dark-light-blue-color);
    color: white;
}


#hero h2 {
    color: rgba(255, 255, 255, 0.6);
    font-size: 1.3em;
}

.btn-hero {
    text-decoration: none;
    background-color: var(--blue-color);
    color: white;
    border-radius: 50px;
    padding: 10px 50px;
    border: none;
    transition: 0.5s;
}

.btn-hero:hover {
    background-color: #307f93;
    color: white;
    border-radius: 50px;
    padding: 10px 50px;
    border: none;
}

#car-brand {
    background-color: #f3f5fa;
}

#car-brand img {
    padding: 10px 0px;
    max-width: 45%;
    transition: all 0.4s ease-in-out;
    filter: grayscale(100);
}

#car-brand img:hover {
    filter: none;
    transform: scale(1.1);
}

#cta {
    background: linear-gradient(rgba(40, 58, 90, 0.9), rgba(40, 58, 90, 0.9)), url("../img/cta-bg.jpg") fixed center center;
    background-size: cover;
    padding: 120px 0;
    color: white;
}

.btn-cta {
    text-decoration: none;
    border: 2px solid white;
    color: white;
    border-radius: 50px;
    padding: 10px 50px;
    transition: 0.5s;
}

.btn-cta:hover {
    background-color: var(--blue-color);
    border: 2px solid var(--blue-color);
}

section {
    padding: 20px 0px;
}

.section-title {
    text-align: center;
    margin-bottom: 20px;
}

.section-title h2 {
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
    color: #37517e;
}

.section-title p {
    font-size: 0.9em;
}

#testimonial {
    padding: 50px 0px;
}

.testimonial-card {
    cursor: pointer;
    transition: 0.5s;
}

.testimonial-card:hover {
    transform: scale(1.1);
}

.testimonial-card .card-up {
    background-color: var(--dark-light-blue-color);
    height: 120px;
    overflow: hidden;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}



.testimonial-card .avatar {
    width: 110px;
    margin-top: -60px;
    overflow: hidden;
    border: 3px solid #fff;
    border-radius: 50%;
}

#breadcrumb {
    padding-top: 90px;
    background-color: #f3f5faff;
}

#about {
    color: rgb(68, 68, 68);
    padding: 50px 0;
}

#about ul {
    padding-left: 0px;
}

#about li {
    list-style-type: none;
}

#about li i {
    color: var(--blue-color);

}

#about .section-title {
    margin-bottom: 0;
}

#about .section-title h2 {
    margin-bottom: 0;
}

#services {
    padding: 50px 0;
    margin-bottom: 20px;
}

.service-item {
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.3);
    padding: 30px;
    transition: 0.5s;
}

.service-item:hover {
    transform: translate(0px, -15px);
}

.service-item:hover h4 {
    color: var(--blue-color);
}

.service-item i {
    color: var(--blue-color);
}

.service-item h4 {
    color: var(--dark-light-blue-color);
    font-size: 1.3em;
}

.service-item p {
    font-size: .9em;
}



.filter-wrap .filter-btn {
    cursor: pointer;
    font-size: .9em;
    color: var(--gray-color);
    padding: 8px 20px;
    border-radius: 50px;
    transition: 0.3s;
}

.filter-wrap .filter-btn.filter-active {
    background-color: var(--blue-color);
    color: white;
}

.filter-btn:hover {
    background-color: var(--blue-color);
    color: white;
}


.cars-wrap {
    cursor: pointer;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

.cars-img {
    height: 180px;
    transform: scale(0.9);
    transition: 0.5s;
}

.cars-img:hover {
    transform: scale(1);
}

.cars-info>h4 {
    font-size: 1.3em;
}

.cars-info>p {
    margin-bottom: 0px;
}

.cars-wrap hr,
.cars-info hr {
    border-top: 2px solid black;
}

.contact-box {
    border-top: 2px solid var(--blue-color);
    border-bottom: 2px solid var(--blue-color);
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    padding: 20px;
}

#contact-icon {
    color: var(--blue-color);
    background-color: #e7f5fb;
    font-size: 20px;
    padding: 10px;
    border-radius: 50%;
    transition: 0.3s;
}

#contact-item h6 {
    margin: 0;
}

#contact-item:hover #contact-icon {
    color: #e7f5fb;
    background-color: var(--blue-color);

}


#form-submit {
    border: 1px solid var(--blue-color);
    color: var(--blue-color);
    transition: 0.3s;
}

#form-submit:hover {
    border: none;
    background-color: var(--blue-color);
    color: white;
}

.navbar-toggler i {
    color: white;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.navbar-toggler:hover i {
    color: var(--dark-blue-color);
}

.navbar-toggler:hover {

    background-color: white;
}

@media screen and (max-width:992px) {
    #hero {
        height: 100vh;
    }

    #hero h2 {
        font-size: 1em;
    }
}

@media screen and (max-width:768px) {
    .cars-img {
        height: unset;
    }
}